@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind utilities; */

:root {
  /* updates in +layout.svelte */
  --scrollbar-width: 0px;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body:has(.show-menu.overflowing) {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

body:has(.show-menu.overflowing) #toggle_menu {
  right: var(--scrollbar-width);
}

h1 {
  @apply text-4xl font-bold;
  @apply mb-4;
}
h2 {
  @apply text-3xl font-semibold;
}
h3 {
  @apply text-2xl font-medium;
}
h4 {
  @apply text-xl font-medium;
}
h5 {
  @apply text-lg font-medium;
}
h6 {
  @apply text-lg font-medium;
}

p {
  @apply text-lg;
}
