@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind utilities; */

:root {
  /* updates in +layout.svelte */
  --scrollbar-width: 0px;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body:has(.show-menu.overflowing) {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

body:has(.show-menu.overflowing) #toggle_menu {
  right: var(--scrollbar-width);
}
